#login{
    width: 20%;
    height: 55vh;
    background-color: white;
    border-radius: 4px;
    padding: 2em 2em;
    line-height: 3.23em;
    box-shadow: -1.5px 1.5px 5px rgb(235, 228, 228), 1.5px -1.5px 5px rgb(235, 228, 228);
    margin-top: 8em;
    margin-left: 10%;
}

.title{
    width: 50%;
    height: 45%;
    font-size: 1em;
    margin-top: 4em;
    margin-left: 5em;
    padding-left: 3em;
    line-height: 6.5em;
}

.welcomeTitle{
    margin-left: 36%;
    margin-top: 10%;
    line-height: 4em;
}

.welcomeTitle p{
    
    font-family: 'HelveticaNeueW02-75Bold', 'Bangers', cursive;
    padding: 0;
    line-height: 0;
    font-size: 7rem;
    color:white;
}

span{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    font-family: 'HelveticaNeueW02-75Bold', 'Oswald', sans-serif;
}

.formLabel{
    font-size: 24px;
    font-family: 'HelveticaNeueW02-75Bold', 'Kalam', cursive;
}

.formInput{
    height: 3em;
    width: 85%;
    font-size: 16px;
    padding-left: 1em;
    font-family: 'HelveticaNeueW02-75Bold', 'Roboto', sans-serif;
}

.secondItem{
    position: relative;
    top: 1.12em;
}

.formInput::placeholder{
    color: rgb(104, 104, 104);
}

.btn-primary{
    width: 92%;
    height: 2.6em;
    background-color: white;
    outline: none;
    border: 2px solid black;
    font-size: 21px;
    font-family: 'HelveticaNeueW02-75Bold', 'Oswald', sans-serif;
    letter-spacing: 3px;
    transition: 0.25s all ease;
}

.btn-primary:hover{
    background-color: black;
    outline: none;
    color: white;
    cursor: pointer;
}

.title p{
    font-size: 110px;
    font-family: 'HelveticaNeueW02-75Bold', 'Bangers', cursive;
}

.btn-secondary{
    width: 55%;
    height: 4.6em;
    background-color: black;
    color: white;
    outline: none;
    border: 2px solid white;
    border-radius: 4px;
    text-decoration: none;
    font-family: 'HelveticaNeueW02-75Bold', 'Oswald', sans-serif;
    color: white;
    font-size: 21px;
    padding: 12px 20%;
    transition: 0.25s all ease;
}

.btn-secondary:hover{
    color: black;
    background: white;
}
