*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#login{
    width: 20%;
    height: 56vh;
    background-color: white;
    border-radius: 4px;
    padding: 2em 2em;
    box-shadow: -1.5px 1.5px 5px rgb(235, 228, 228), 1.5px -1.5px 5px rgb(235, 228, 228);
    margin-top: 8em;
    margin-left: 10%;
}

.title{
    font-family: 'HelveticaNeueW02-75Bold', 'Bangers', cursive;
    margin-left: 10%;
    margin-top: 8em;
    width: 50%;
    height: 40em;
    font-size: 1em;
}

.welcomeTitle p{
    position: relative;
    top: 0.5em;
}

.welcomeTitle a{
    position: relative;
    top: 7em;
}

.welcomeTitle{
    margin-left: 26%;
    margin-top: 6%;
    line-height: 6.5em;
    text-align: center;
}

.welcomeTitle p{
    font-family: 'HelveticaNeueW02-75Bold', 'Bangers', cursive;
    padding: 0;
    line-height: 0;
    font-size: 7rem;
    color:white;
}

span.formTitle{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    font-family: 'HelveticaNeueW02-75Bold', 'Oswald', sans-serif;
}

.formLabel{
    font-size: 24px;
    font-family: 'HelveticaNeueW02-75Bold', 'Kalam', cursive;
}

.formInput{
    height: 3em;
    width: 92%;
    font-size: 16px;
    padding-left: 1em;
    font-family: 'HelveticaNeueW02-75Bold', 'Roboto', sans-serif;
}

.secondItem{
    position: relative;
    top: 1.12em;
}

.formInput::placeholder{
    color: rgb(104, 104, 104);
}

.btn-primary{
    width: 92%;
    height: 2.6em;
    background-color: white;
    outline: none;
    border: 2px solid black;
    font-size: 21px;
    font-family: 'HelveticaNeueW02-75Bold', 'Oswald', sans-serif;
    letter-spacing: 3px;
    transition: 0.25s all ease;
}

.btn-primary:hover{
    background-color: black;
    outline: none;
    color: white;
    cursor: pointer;
}

.title p{
    font-size: 110px;
    font-family: 'HelveticaNeueW02-75Bold', 'Bangers', cursive;
}

.btn-secondary{
    background-color: black;
    color: white;
    outline: none;
    border: 2px solid white;
    border-radius: 4px;
    text-decoration: none;
    font-family: 'HelveticaNeueW02-75Bold', 'Oswald', sans-serif;
    color: white;
    font-size: 21px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15%;
    padding-right: 15%;
    transition: 0.25s all ease;
}

.btn-secondary:hover{
    color: black;
    background: white;
}

nav{
    width: 100%;
    height: 4em;
    background-color: black;
    color: white;
}

nav ul{
    display: flex;
    float: right;
    list-style: none;
    font-size: 18px;
}

nav ul li{
    position: relative;
    display: flex;
    top: 0;
    width: 7em;
    height: 3.53em;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-left: 1px solid white;
    border-right: 1px solid white;
    cursor: pointer;
}

.colDims{
    height: 91.3vh;
    border: 1px solid black;
}

.member{
    display: flex;
    width: 100%;
    height: 3em;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 19px;
}

#menuBar{
    border: 1px solid black;
    width: 100%;
    height: 3em;
    background-color: rgb(243, 243, 243);
    padding-left: 5%;
    padding-top: 4.5%;
    font-size: 18px;
}

#feed{
    width: 100%;
    border-bottom: 1px solid black;
    height: 78vh;
    overflow-y: scroll;
    background-color: rgb(235, 235, 235);
}

.toast{
    position: relative;
    left: 25%;
    top: 2%;
    border: 1px solid black;
    border-radius: 4px;
    width: fit-content;
    font-size: 13px;
    background-color: rgb(110, 158, 248);
    padding: 0.34%;
    color: rgb(49, 49, 49);
    margin-top: 3%;
}

.message{
    position: relative;
    top: 4%;
    left: 0.35em;
    width: 46%;
    height: auto;
    border-radius: 0px 4px 4px 4px;
    background-color: white;
    font-size: 15px;
    padding-left: 1em;
    padding-bottom: 0.256em;
    display: flex;
    flex-direction: column;
    line-height: 1.375em;
    margin-top: 3%;
}

#messageInput{
    position: relative;
    top: 0;
    height: 6vh;
    width: 85%;
}

#messageBar button{
    width: 20%;
    color: white;
    background-color: black;
    border: none;
}